#!/usr/bin/env bash

export PROJECT_ROOT="$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"
export ENVRC_INCLUDE=$HOME/envrc/include
export AWS_ACCOUNT='12345' 
export AWS_DEFAULT_REGION='default-region'
export AWS_REGION=$AWS_DEFAULT_REGION
export PYTHONPATH=$PYTHONPATH:$PROJECT_ROOT/src/

[[ ! -f .env_secrets ]] && touch .env_secrets
source .env_secrets

